.loanUpdateButton .buttonContainer {
	width: 60%;
	height: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 1em;
}

.buttonContainer button {
	height: 100%;
	width: 100%;
	border: none;
	border-radius: 0;
	color: white;
	position: absolute;

}

.button-optional {
	background-color: grey;
}

.button-proceed {
	background-color: hsl(156, 69%, 59%);;
}

.button-proceed:disabled {
	background-color: lightgray;
}

.button-error {
	background-color: red;
}

.buttonText {
	font-weight: 700;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	text-transform: uppercase;
}
