.loan_offer {
	margin-bottom: 9em;
}
.loan_details {
	box-shadow: 0 0 5px 3px hsla(0,0%,0%,.05);
	width: 60%;
}

.loan_info_section {
	width: 16.66%;
	float:left;
	padding: .75em;
}

.loan_info_section + .loan_info_section {
	border-left: 1px solid hsla(0,0%,0%,.05);
}


.label {
	text-transform: uppercase;
	font-size: .6em;
	font-weight: 700;	
}

.loan_info {
	text-align: right;
	width:100%;

	margin-top: 1.1em;
}